section{
  width: 70%;
  margin: auto;
}

.circuits h3{
  font-size: 25px;
  color: rgb(31, 31, 31);
  margin-left: 300px;
}

.circuit_box{
  width: 30%;
  background-color: white;
  border: solid rgb(115, 5, 225) 1.5px;
  box-sizing: border-box;
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-radius: 5px;
}

.photo{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.star{
  display: block;
  width: 10%;
  height: 10%;
  cursor: pointer;
  margin: 0 10px;
}

.circuit_box div{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circuits{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.circuit_box p{
  margin: 8px 10px;
  font-size: larger;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black;
}

/*MAIN*/

body{
  background-color: rgba(185, 175, 175, 0.9);
  margin: 0;
  font-family: 'Playfair Display', Arial;
  color: #f8f8f8;
}

#barra{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(20, 15, 15);
  padding: 20px;
  z-index: 999;
}
  
#links a{
  margin: 15px;
  text-decoration: none;
}
  
#links a{
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

#links a:hover{
  color: rgb(115, 5, 225);
}

#separator{
  display: inline-block;
  height: 16px;
  width: 1px;
  background: currentColor;
}
  
#menu {
  display: none;
}
  
#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}
  
.button{
  background-color: rgb(115, 5, 225);
  padding: 5px 15px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

#links .button:hover{
  background-color: white;
  color: rgb(115, 5, 225);
}
  
header{
  color: black;
}

header h1{
  z-index: 1;
  font-size: 2.5em;
  margin-top: 150px;
  text-align: center;
}

#logo{
  font-size: 36px;
  font-weight: bold;
}
  
#separator{
  display: inline-block;
  height: 16px;
  width: 1px;
  background: currentColor;
}
  
#menu {
  display: none;
}
  
#menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.footer {
  position: absolute;
  width: 100%;
  background-color: rgb(31, 31, 31);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
  
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  color: rgb(158, 99, 217);
}

.social-icon__link:hover {
  transform: translateY(-10px);
}
  
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
  
.menu__link:hover {
  opacity: 1;
}
  
.footer em {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
  
@media (max-width: 500px) {
  #links {
    display: none;
  }
}
  
@media (max-width: 500px) {
  #menu {
    display: block;
    cursor: pointer;
  }
}
  
@media (max-width: 500px) {
  header h1 {
    font-size: 2em;
    padding: 0 30px;
  }
}
  
@media (max-width: 500px) {
  .container{
    height: auto;
    flex-direction: column;
  }
}

@media(min-width: 500px) and (max-width: 850px){ 
  #links a{
    display: inline-block;
    height: 10px;
    margin-left: 50px;
  }
  
  #links .button{
    height: 20px;
  }
  
  #separator{
    display: none;
  }
  
}
  
@media(max-width: 900px){
  .circuit_box{
    height: fit-content;
  }
}

@media(max-width: 900px){
  #circuiti{
    width: 100%;
    margin-left: 10%;
  }
  
  .circuits{
    width: 90%;
  }
}
 